<div ng-if="history.loading" class="loading-dimensions">
    <div class="whirly-loader">
        Loading…
    </div>
</div>
<div ng-if="!history.loading">
    <div>
        <h2 class="center" ng-bind="history.history.title"></h2>
        <p ng-bind="history.history.para01"></p>
        <p ng-bind="history.history.para02"></p>
        <p class="center"><i ng-bind="history.history.para03"></i></p>
        <p ng-bind="history.history.para04"></p>
        <p ng-bind="history.history.para05"></p>
        <p class="center"><i ng-bind="history.history.para06"></i></p>
        <p ng-bind="history.history.para07"></p>
        <p ng-bind="history.history.para08"></p>
        <p ng-bind="history.history.para09"></p>
        <p ng-bind="history.history.para10"></p>
        <p ng-bind="history.history.para11"></p>
        <p ng-bind="history.history.para12"></p>
        <p ng-bind="history.history.para13"></p>
        <p ng-bind="history.history.para14"></p>
        <p ng-bind="history.history.para15"></p>
        <p ng-bind="history.history.para16"></p>
        <p ng-bind="history.history.para17"></p>
        <span ng-bind="history.history.para18"></span>
        <span><strong ng-bind="history.history.para19"></strong></span>
        <span ng-bind="history.history.para20"></span>
    </div>
</div>
