<div class="col-sm-4 col-xs-4 leaf-tab parent-leaf">
    <svg width="100" height="50" x="0" y="0" overflow="visible" viewBox="0 0 100 50">
        <path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="null" stroke-linejoin="null"
              stroke-linecap="null" style="pointer-events:inherit" id="svg_8" d="M166,11 L14,11 L14,144 ">
        </path>
    </svg>
    <svg width="100" height="50" x="0" y="0" overflow="visible" viewBox="0 0 100 50">
        <path fill="none" stroke="#000000" stroke-width="1" stroke-dasharray="null" stroke-linejoin="null"
              stroke-linecap="null" style="pointer-events:inherit" id="svg_8" d="M166,11 L14,11 L14,144 ">
        </path>
    </svg>
    <svg width="10" height="25" style="left:50%;top:85%">
        <line y2="15" x2="0" y1="0" x1="0" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="2" stroke="#000000" fill="none"></line>
    </svg>
    <a class="col-sm-12 col-xs-12">
        <p ng-bind="leafsCtrl.leafs.parent"></p>
    </a>
</div>