<section class="stickyNavClass">
    <div class="container">
        <p id="banner" class="banner">
            In a world, fast fragmenting into marginal nations, minor communities and miniscule families, this is an earnest attempt to rebuild social structure and re-establish family values
        </p>
    </div>

    <div class="main-nav maxNav" ng-class="{minNav:boolChangeClass,maxNav:boolChangeCSS}" style="">
        <div class="container">
            <div class="cont">
                <input type="radio" id="f" name="a" value="#/historyofandhra" class="menuLinks">
                <label for="f">History of Andhra<span class="menu1"></span></label>
                
                <input type="radio" id="s" name="a" value="#/historyofsistlas" class="menuLinks">
                <label for="s">History of Sistlas<span class="menu1"></span></label>
                
                <input type="radio" id="t" name="a" value="#/cultureofsistlas" class="menuLinks">
                <label for="t">Culture of Sistlas<span class="menu1"></span></label>
                
                <input type="radio" id="fo" name="a" value="#/honor" class="menuLinks">
                <label for="fo">Roll of Honor<span class="menu1"></span></label>
                
                <input type="radio" id="fi" name="a" value="#/leafs" class="menuLinks">
                <label for="fi">Leaf(s)<span class="menu1"></span></label>
                
                <div class="border"></div>
            </div>
        </div>
    </div>
</section>


