.header .stickyNavClass .container .minOpac,
.header .stickyNavClass .container .maxOpac,
.header .stickyNavClass .minSize,
.header .stickyNavClass .maxSize {
    -webkit-transition: all 1500ms ease;
    -moz-transition: all 1500ms ease;
    -o-transition: all 1500ms ease;
    transition: all 1500ms ease;
}
.header {
  top: 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 200px;
  background-color: #ffad33;
}
.header .stickyNavClass {
  height: 100%;
}
.header .stickyNavClass .container {
  height: 100%;
  background-image: url('../../images/logo/logo.png');
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: 10px;
}
.header .stickyNavClass .container .banner {
  font-size: 16px;
  padding: 70px 5px;
  text-transform: uppercase;
  opacity: 1;
  overflow: hidden;
  float: right;
  width: 75%;
}
.header .stickyNavClass .container .minOpac {
  opacity: 0.65;
  padding: 15px 5px;
}
.header .stickyNavClass .container .maxOpac {
  opacity: 1;
  padding: 70px 5px;
}
.header .stickyNavClass .minSize {
  background-size: 10%;
  background-position: 0;
}
.header .stickyNavClass .maxSize {
  background-size: 20%;
  background-position: 0 10px;
}